<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <ul>
        {% for user in users %}
        <li>{{user[1]}}</li>
        {% endfor %}
    </ul>    
</body>
</html>