<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="{{ url_for('login') }}" method="post">
        <input type="text" name="username"><br>
        <input type="password" name="password"><br>
        <input name="submit_field" type="submit" value="Login">
        <input name="submit_field" type="submit" value="Register">
    </form>
</body>
</html>